<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div id="logo">Company Name & Logo</div>
        <nav>
            <ul>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="section1">
            <div id="text">
                <h2>How this application work</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure impedit nam repellendus quidem, commodi numquam officiis. Rerum vitae esse maxime id, optio recusandae molestias expedita eos ab possimus reiciendis cum.</p>
            </div>
            <div id="image"></div>
        </section>
        <section id="section2">
            <div>
                <h2>How to get the budget detail form the AI</h2>
                <p>working process will be here with each step.</p>
            </div>
        </section>
    </main>
    <footer>
        <address>
            <h3>Contact Us</h3>
            <p>Email :<a href="mailto:samaydas523@gmail.com">Email Us</a></p>
            <p>Phone No :<a href="tel:+6265254649">Call Us</a></p>
            <p>Address : 68 Mitra Bandhu Nagar, Indore, Madhya Pradesh, India, 452016</p>
            <p>&copy; All Right Reserved</p>
        </address>
    </footer>
</body>
</html>